.project-run-content {
  overflow: hidden;
  opacity: 1;
  transition: height 0.15s ease-out, opacity 0.1s ease-out;
}

.project-run-content p {
  margin: 0;
  margin-bottom: 10px;
}

.project-run-content:not(.open) {
  height: 0;
  opacity: 0;
}

.project-run-h1 {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
