.project-run-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out, opacity 0.1s ease-out;
}

.project-run-content p {
  margin: 0;
  margin-bottom: 10px;
}

.project-run-content.open {
  max-height: 80px; /* This should be larger than the content's height */
  opacity: 1;
}

.project-run-h1 {
  margin-bottom: 0;
}
