.lesson-editor {
  background-color: #3d424d;
  height: calc(100% - 50px);
  border-radius: 10px;
  width: calc(100% - 300px);
  padding: 0 10px;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
}

.lesson-editor-sidebar {
  display: flex;
  flex-direction: column;
}

.question {
  background-color: #282c34;
  border-radius: 10px;
  padding-left: 5px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.question h4,
p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.questions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 15px;
  width: 400px;
}
.question-editor {
  margin-left: 10px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: calc(100% - 450px);
}

.choice {
  width: 100%;
  background-color: #282c34;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}

.choice p {
  width: 50%;
}

.correct {
  background-color: #335533;
}

.markdown-editor {
  margin: 10px;
  width: 100%;
}
