.lesson-editor {
  background-color: #3d424d;
  height: calc(100% - 50px);
  border-radius: 10px;
  width: calc(100% - 300px);
  padding: 0 10px;
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
}

.lesson-editor-sidebar {
  display: flex;
  flex-direction: column;
}

.question {
  background-color: #282c34;
  border-radius: 10px;
  padding-left: 5px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.question h4,
p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.questions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 15px;
  width: 400px;
}
.question-editor {
  margin-left: 10px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: calc(100% - 450px);
}

.choice,
.add-choice {
  width: 100%;
  background-color: #282c34;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  border: 1px solid #282c34;
  height: 60px;
}

.add-choice {
  font-size: 1.5rem;
  cursor: pointer;
  /* Center text in the button */
  display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
}
.choice textarea {
  width: 46%;
  /* Style to look like p */
  font-size: 1rem;
  border: none;
  background-color: #282c34;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* Allow wrapping if text is too long */
  white-space: normal;
  overflow-wrap: break-word;
  resize: none;
}

.choice button {
  background-color: #553a3a;
  border: none;
  border-radius: 5px;
  flex-grow: 0.5;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 5px;
}

.correct textarea {
  background-color: #335533;
}

.correct {
  background-color: #335533;
}

.markdown-editor {
  margin: 10px;
  width: 100%;
}

.settings {
  margin-top: 10px;
  margin-bottom: -10px;
}

.question-input {
  /* Style this text-area to be like an h1 */
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  background-color: #282c34;
  color: white;
  width: 100%;
  margin-top: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#lesson-name {
  /* Style input like h1 */
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: white;
}

#lesson-id {
  /* Style input like h1 */
  font-size: 1rem;
  border: none;
  background-color: transparent;
  color: white;
}

.questions .selected {
  background-color: #16171a;
}

.addQuestionBtn {
  background-color: #335533;
  text-align: center;
}
