.app input {
  margin-left: 15px;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-direction: column;
  gap: 15px;
}
.courseList {
  margin-top: 15px;
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
}

.courseBtn {
  background-color: #3d424d;
  border-radius: 10px;
  padding: 10px;
  margin-top: -2px;
  border: 2px solid #1f2227;
}

.sidebar {
  position: fixed;
  top: 100px;
  left: 15px;
  bottom: 0;
  width: 250px;
  /* Scroll if goes off page */
  overflow-y: auto;
  /* Scrollbar width */
  scrollbar-width: thin;
  scrollbar-color: #3d424d #1f2227;
}

.addBtn {
  background-color: #314b30;
  text-align: center;
}

.selected {
  background-color: #313338;
}
