.sandbox-container {
  display: flex;
  flex-direction: column;
  height: 99%;
}

.code-editor-root {
  flex-grow: 1;
}

.sandbox-output-header {
  padding-bottom: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 0;
}

.sandbox-output-content {
  padding-top: 0;
}

.powered-by {
  font-style: italic;
  color: var(--ion-color-medium);
  font-size: 0.7em;
}
