/* if dark mode */
@media (prefers-color-scheme: dark) {
  .default .premium-header p {
    color: #ccc;
  }
}

.project-files-header {
  margin: 0 10px;
}

.project-output-header {
  padding-bottom: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 0;
}

.project-output-content {
  padding-top: 0;
  height: 100%;
}

.stored-locally {
  font-style: italic;
  color: var(--ion-color-medium);
  font-size: 0.9em;
}

.project-output {
  display: flex;
  flex-direction: column;
  /* Dont allow growing if it would go outside the page */
  max-height: 100%;
  min-height: fit-content;
  overflow: auto;
  margin-bottom: 0;
}

.projects-tab {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.run-buttons {
  display: flex;
  width: 100%;
}

.runBtn {
  width: 50%;
}
