.premium-barrier {
  text-align: center;
}

.premium-header {
  padding: 0;
}

.premium-header h1,
.premium-header p {
  margin: 0;
}

.premium-header p {
  color: #555;
}

.dark .premium-header p {
  color: #ccc;
}

/* if dark mode */
@media (prefers-color-scheme: dark) {
  .default .premium-header p {
    color: #ccc;
  }
}

.project-files-header {
  margin: 0 10px;
}

.project-output-header {
  padding-bottom: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 0;
}

.project-output-content {
  padding-top: 0;
  height: 100%;
}

.stored-locally {
  font-style: italic;
  color: var(--ion-color-medium);
  font-size: 0.9em;
}
