.back-button {
  font-size: 24px;
  margin: 0;
  margin-top: 5px;
}

.forward-button {
  font-size: 24px;
  margin: 0;
  margin-top: 5px;
  padding-left: 10px;
}

.disabled-btn {
  color: #0005 !important;
}
