blockquote {
  margin: 0 0 1em;
  padding: 2px 1em;
  border-left: 0.25em solid var(--ion-color-medium);
  background-color: var(--ion-color-light);
  border-radius: 2px;
}

.vocab-term {
  font-weight: bold;
  color: var(--ion-color-tertiary) !important;
}
