.login-modal-content {
  display: flex;
  flex-direction: column;
}

.clickable-link {
  cursor: pointer;
  text-decoration: underline;
}

.login-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
