.login-modal-content {
  display: flex;
  flex-direction: column;
}

.clickable-link {
  cursor: pointer;
  text-decoration: underline;
}

.login-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-password-text {
  margin-bottom: 0;
}

.login-header {
  padding: 0 5px;
}

@media (prefers-color-scheme: dark) {
  .login-buttons, .login-buttons ion-item, ion-input {
    background-color: transparent !important;
  }
}