.submit-button {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-in {
  animation: slideInFromBottom 0.3s forwards ease-out;
  /* Anchor to bottom of page, but above the submit button */
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
}
