.choice {
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid var(--ion-color-medium);
  margin-top: -1px;
}
.choice .label-text-wrapper {
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: clip !important;
}
.choice.radio-checked {
  background-color: var(--ion-color-light);
}

.correct-answer {
  background-color: #d4edda !important;
}

.incorrect-answer {
  background-color: #f8d7da !important;
}

/* if dark mode */
@media (prefers-color-scheme: dark) {
  .correct-answer {
    background-color: #335533 !important;
  }
  .incorrect-answer {
    background-color: #553333 !important;
  }
}
.radio-disabled {
  opacity: 1 !important;
}
